html {
  min-height: 100%;
  @include display(flex);
  @include align-items(stretch);
}

body {

  font-size: $font-size;
  line-height: $line-height;
  color: black;
  width: 100%;

  @include display(flex);
  @include justify-content(center);
  @include align-items(stretch);
}
  main {
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (min-width: 769px) {
      max-width: modular-scale(12) * 10%;
    }
    margin: lines(4) auto lines(2) auto;
    text-align: center;

    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);

    &.hidden {
      display: none;
    }

    h2 {
      span {
        @extend %font-helvetica-bold;
        @include font-scale(0);
        text-transform: uppercase;

        padding-bottom: 1px;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        display: inline-block;
      }
    }
    h1 {
      @include flex(1);

      @media screen and (max-width: 768px) {
        margin: 0 lines(1) lines(2.5) lines(1);
        @include font-scale(6);
      }
      @media screen and (min-width: 769px) and (max-width: 1439px) {
        margin: 0 0 lines(4) 0;
        @include font-scale(12);
      }
      @media screen and (min-width: 1440px) {
        margin: lines(3.75) lines(1) lines(5) lines(1);
        @include font-scale(14);
      }

      @include display(flex);
      @include align-items(center);
      span {
        display: block;
        outline: none;
      }
    }
    p {
    }

/*     .style1, .style10, .style14 {
  @extend %font-ptsans;
}
.style2, .style9 {
  @extend %font-ptmono;
}
.style6, .style8 {
  @extend %font-playfair;
}
.style7, .style11, .style16 {
  @extend %font-helvetica-bold;
}
.style4, .style12, .style17 {
  @extend %font-opensans-bold-italic;
}
.style3, .style5, .style13, .style15, .style18 {
  @extend %font-oswald-bold;
}
 */
    .style {

      &1, &12, &23, &34, &45 { @extend %font-knewave; }
      &2, &13, &24, &35, &46 { @extend %font-lilitaone; }
      &3, &14, &25, &36, &47 { @extend %font-modak; }
      &4, &15, &26, &37, &48 { @extend %font-ralewaydots; }
      &5, &16, &27, &38, &49 { @extend %font-oswald-bold; }
      &6, &17, &28, &39, &50 { @extend %font-ptserif; }
      &7, &18, &29, &40, &51 { @extend %font-unicaone; }
      &8, &19, &30, &41, &52 { @extend %font-abrilfatface; }
      &9, &20, &31, &42, &53 { @extend %font-oswald-bold; }
      &10, &21, &32, &43, &54 { @extend %font-opensans-extrabold-italic; }
      &11, &22, &33, &44, &55 { @extend %font-ptserif; }

      @for $i from 1 through 25 {
        @if $i % 2 == 1 {
          &#{$i} {
            text-transform: uppercase;
          }
        }
      }
    }

    .style0 {
      @extend %font-helvetica-bold;
    }
  }

div.button {
  @extend %font-helvetica-bold;
  letter-spacing: 0.2px;
  @include font-scale(0);
  text-transform: uppercase;
  width: lines(11);
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  border-style: solid;
  border-width: 2px;

  @include align-self(flex-end);

  & a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: lines(0.79) 0 lines(0.73) 0;
    /* padding: lines(0.75) 0; */
  }

  &:hover {
    color: rgba(white, 1) !important;
    border-color: rgba(white, 1) !important;
    /* background-color: rgba(white, 0.1); */

    /* transform: scale(1.02); */
    transition:
      color            0.15s ease-out,
      border-color     0.15s ease-out,
      background-color 0.15s ease-out,
      transform        0.15s ease-out;
  }

  &:not(:active) {
    top: -1px;
  }
  &:active {
    top: 1px;
  }

  &.disabled {
    display: none;
  }
}

.blink {
  animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
