<head>
  <meta charset="utf-8">
  <title>Medium is the new Message.</title>
  <meta name="description" content="One message every day, drop one any day. A wise man once said, the medium is the message. What are they today?">
  <meta name="keywords" content="jure martinec, ansambel, medium, message, digital, typography, colours, generative, covnversation">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
</body>

<template name="layout">
  {{> yield}}
</template>
